@use 'base/variables' as v;
@use 'base/mixins' as m;


.boton{
    @include m.boton(v.$verde, v.$blanco);
}
.boton-verde{
    background-color: transparent;
    color: v.$blanco;
    border: .4rem solid v.$verde;
    border-radius: .5rem;
    padding: 1.5rem 4rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    // transition-property: background-color;
    // transition-duration: .3s;
    transition: background-color .3s ease-in-out;
    text-align: center;
    display: block;
    width: 100%;
    margin: 5rem 0;

    @include m.tablet {
        width: auto;
    }
    &:hover {
        background-color: v.$verde;
        color: v.$negro;
        cursor: pointer;
    }
}


